<p-menubar>
    <ng-template pTemplate="start">
        <img src="assets/images/logo-unicam.webp" height="80" class="p-mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <div class="formgrid grid">
            <div class="field col">
                <input type="text" class="p-inputtext-sm" placeholder="Username" pInputText [(ngModel)]="username">
            </div>
            <div class="field col">
                <input type="password" class="p-inputtext-sm" aria-describedby="password-help" placeholder="Password" pInputText [(ngModel)]="password">
                <small id="password-help">Forgot your password?</small>
            </div>
            <div class="field col">
                <button pButton pRipple type="button" id="login" label="Log In" class="p-button-sm" (click)="login()"></button>
                <button pButton pRipple type="button" id="register" label="Register" class="p-button-warning p-button-sm"></button>
            </div>
        </div>
    </ng-template>
</p-menubar>

<p-card header="ProsChain" subheader="About Pros" class="p-card-shadow" autoZIndex="false">
    <ng-template pTemplate="header">
        <p-image alt="Card" id="image-card" src="assets/images/business-efficiency.webp"></p-image>
    </ng-template>
    <p>
        ProsChain is an online business process analytics platform. <br>
          Research in computer science, carried out within the PROS Lab, deals with the development of languages and techniques for 
          the modelling, analysis and developmentof process aware information systems and services oriented applications. 
          Our goal is to push the use of formal methods as methodological and automatic tools for the development of high-quality 
          software development. To make our tools usable by people not acquainted with the underlying mathematical foundations;
          we aim at effective but disappearing formal methods. Our main areas of expertise are formal method and software engineering, 
          with a wide range of applications domain such as smart manufacturing, smart government, smart health and smart city.
    </p>
    <ng-template pTemplate="footer">
        <a href="http://pros.unicam.it/" class="footer-links">Home</a>
        <a href="http://pros.unicam.it/projects/" class="footer-links">Projects</a>
        <a href="http://pros.unicam.it/documents/" class="footer-links">Documents</a>
        <a href="http://pros.unicam.it/collaborations/" class="footer-links">Collaborations</a>
        <a href="http://pros.unicam.it/contact-us/" class="footer-links">Contact us</a>
    </ng-template>
</p-card>

<p-toast position="top-left"></p-toast>
