#login{
    margin-right: 1rem;
}

#image-card{
    display: block;
    width: 66%;
    height: 66%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-links{
    margin-right: 1rem;
}

.pi-bars::before{
    content: "";
}